main {
    position: relative;
    width: 100%;
    height: 80vh;
}
table {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}
table tr {
    border: 1px solid white;
    height: 100px;
}
table th {
    min-width: 96px;
    border: 1px solid white;
}

.simulation {
   position: relative;
}

.overlay {
    position: absolute;
    top: -50px;
    left: -50px;
    opacity: 0.8;
}

.overlay tr {
    border: 1px solid transparent;
    height: 100px;
}

.overlay th {
    min-width: 96px;
    border: 1px solid transparent;
}

.overlay th.active {
    transform: scale(0.5);
    filter: contrast(5);
    background: cornflowerblue;
}

.overlay th.obstacle {
    transform: scale(0.5);
    filter: brightness(1.1);
    background: #fff;
}

.overlay th.active.chair-0 {
    background: #f2e100;
}

.overlay th.active.chair-1 {
    background: #fd6571;
}

.overlay th.active.chair-2 {
    background: #00cd00;
}

.overlay th.active.chair-3 {
    background: #3399ff;
}

.overlay th.obstacle.chair-0 {
    background: #ffd3ac;
}

.overlay th.obstacle.chair-1 {
    background: #fec1c6;
}

.overlay th.obstacle.chair-2 {
    background: #b2f0b2;
}

.overlay th.obstacle.chair-3 {
    background: #add6ff;
}